@model BulkRegistrationDto

<form asp-action="BulkRegister" enctype="multipart/form-data">
	<div class="row">
		<h1 class="text-white">Users</h1>
	</div>
	<div class="row">
		<label class="form-label pt-2" style="font-size:20px;">Bulk Load</label>
		<div class="col-6">
			<input asp-for="@Model.LoadFile" class="form-control" />
		</div>
		<div class="col-6">
			<input type="submit" value="Load" class="btn btn-success form-control" />
		</div>
	</div>
	<div class="card shadow border-9 mt-4">
		<div class="card-body p-4">
			<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Phone Number</th>
						<th>Email</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</form>

@section Scripts {
	<script src="~/js/user.js"></script>
}